<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/header.css">


    <script src="/static/js/index.js" defer></script>
</head>

<body>
    <section class="section-s1">
        <header>
            <div class="header-primary">
                <nav class="header-primary-text">
                    <div class="topnav" id="myTopnav">
                        <a href="#home" class="active">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a>                        
                        <a href="javascript:void(0);" class="icon" onclick="ResponsiveTopnav()">
                        <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="headline-header">

                        <h1>Learn Bootstrap 5 with MDB</h1>
                        <p>Best & free guide of responsive web design</p>
                        <div class="start-tutorials">
                            <div class="box-primary">one</div>
                            <div class="box-primary">two</div>
                        </div>
                    </div>
        </header>
    </section>
</body>

</html>