<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- ICON-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> my website </title>

    <link rel="stylesheet" href="/static/css/index.css">

    <!-- ICON-->
    <link rel="stylesheet" href="/static/css/iconics.css">


    <script src="/static/js/index-001.js" defer> </script>
</head>

<body>

    <section class="section-s1">
        <div class="topnavigation" id="primaryTopnavigation">
            <a href="#home" class="active">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="ResponsiveTopnav()"> <i class="fa fa-bars"></i> </a>
        </div>
        <div class="home-message" id="home-message">
            <h1> WECLOME TO MY WEBSITE </h1>
        </div>

        <div class="message-container">
            <div class="item">I am centered!</div>
            <div class="item">I am centered!</div>
        </div>

    </section>




</body>

</html>